.counter {
    align-self: flex-end;
    width: 100px;
    border-radius: 5px;
    color: #fff;
  }
  
  .counter div {
    display: flex;
    justify-content: space-between;
  }
  
  .counter span {
    line-height: 2.4
  }
  
  .counter button {
    color: #fff;
    background: transparent;
    cursor: pointer;
  }
  
  .counter > button {
    width: 100%;
    font-family: Consolas;
    /* background: #fff2; */
  }