@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


nav { 
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #282c34;
}

nav a {
	margin: 10px;
	border: 2px solid transparent;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	transition: border .2s;
}

nav a:hover {
	border: 2px solid #666;
}

/* Listado de categorias */
nav > div {
	display: flex;	
}

nav > div a {
	margin: 10px .3em;
}

#carrito {
	background-color: #fff2;
}

.brand{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	font-weight: bolder;
	color: khaki;
}